<form action="/articles" method="delete">
    <input type="text" name="title"> esto es el titulo</input>
    <input type="text" name="content">esto es el contenido</input>
    <button type="submit"></button>
</form>


